@font-face {
    font-family: 'BadScript-Regular';
    src: url("../assets/fonts/BadScript-Regular.ttf");
}
@font-face {
    font-family: 'MeriendaOne-Regular';
    src: url("../assets/fonts/MeriendaOne-Regular.ttf");
}
/* ---- CSS reset ---- */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}

/* ---- typography ---- */
  
textarea:focus, input:focus{
    outline: none;
}

body {
    /* font-family: 'MeriendaOne-Regular', sans-serif; */
    font-family: 'BadScript-Regular', sans-serif;
    font-weight: bold;
}

/* ---- layout ---- */

html,
body {
  height: 100vh;
  overflow: hidden;
}

/* ---- Splashscreen ---- */
.splash-screen, .end-screen{
    background-image: url("../assets/images/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.splash-screen h1 {
    font-size: 5rem;
    font-family: 'MeriendaOne-Regular';
    text-align: center;
    color: #471E04;
    margin: 0;
    padding: 5vh 0;
}

.game-info {
    background: #ffffffad;
    margin: 0 auto;
    background: #f6e2a6d6;
    box-shadow: 0 0 20px 0px black;
}

.game-info p {
    font-size: 2rem;
    color: #111;
}

.splash-screen .game-info {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
}

.game-instructions {
    display: flex;
    text-align: center;
    width: 80vw;
    justify-content: space-around;
}

.game-instructions .info-img {
    width: 100px;
}

.game-start {
    text-align: center;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-start input{
    padding: 15px;
    border-radius: 10px;
    border-style: inset;
    border-width: 3px;
    background-color: #fff0;
    border-color: #901c26;
    color: #901c26;
    font-size: 20px;
}

.game-start input::placeholder{
    color: #901c26;
}

/* ---- Buttons ---- */

.splash-screen button, .end-screen button {
    padding: 11px 50px;
    font-size: 1.25rem;
    font-family: 'MeriendaOne-Regular';
    background-color: transparent;
    border: 3px solid #931C23;
    border-radius: 10px;
    color: #931C23;
    margin: 25px;
}

.splash-screen button:hover, .end-screen button:hover{
    background-color: #471E04;
    border: 3px solid #f6e2a6;
    color: #f6e2a6;
}

.splash-screen button:focus, .end-screen button:focus {
    outline: 0;
}

/* ---- GameScreen ---- */
.game-container {
  background-image: url("../assets/images/game-background-2.jpg");
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-container .status-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 30px 0;
    color: #ddc576;
    background-color: #0000008c;
}

.time-container .value.warning {
    color: #b91520;
}

.time-container .value.error {
    color: #b91520;
}

.canvas-container{
    width: 1000px;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;    
}

.canvas-container canvas {
    box-shadow: 3px 3px 20px 0px #000;
    background-color: #00000075;
}

.modal-canvas {
    width: 100vw;
    height: 75vh;
    position: absolute;
    top: 11%;
    visibility: hidden;
    font-size: 2rem;
    text-align: center;
    background-image: url("../assets/images/modal-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-canvas .message {
    width: 40%;
    margin: 180px auto 30px auto;
    text-shadow: 0 0 0px black;
}

.modal-canvas .new-element {
    width: 100px;
}

.modal-canvas .combination {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.modal-canvas .first-element {
    width: 70px;
    margin: 0 20px;
}

.modal-canvas .sum-element {    
    width: 50px;
    margin: 0 20px;
}

.modal-canvas .second-element {
    width: 70px;
    margin: 0 20px;
}

.modal-canvas.correct {
    color: #447054;
}

.modal-canvas.error {
    color: #931C23;
    line-height: 80px;
}
